.App {
  font-family: sans-serif;
  text-align: center;
  width: 20rem;
  justify-content: center;
  align-items: center;
}

.monitor {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3em;
  background-color: black;
  color: white;
}

button {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin: 0.2em;
}

.zero {
  width: 6.4em;
  border-radius:40px;
}
